@charset "utf-8";


*{
 padding: 0; 
 margin: 0;
 box-sizing:border-box;
 border: none;
}
header{
height: 20vh; 
background-color: black; 
color:white;
}
main{
height: 75vh;
background-color: white;
color:black;
text-align: justify;
}
footer{
margin-top:600px;
height: 5vh;
background-color: black;
color:white;
text-align: center;
}
p,h1,h2,h3{
padding:5px; 
margin:3px;
  
}
strong{
color:green;
}
img{
width:220px;
  
}
input{
width: 100vw;
height:4vh ;
border: 3px solid black;
border-radius: 5px;
margin-top:10px;
}